<script lang="ts" setup>
import Toaster from './components/ui/toast/Toaster.vue'
</script>

<template>
  <Toaster />
  
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');
</style>
