<script lang="ts" setup>
import { useColorMode } from '#imports'

const colorMode = useColorMode()

interface IFeature {
  name: string
  bgColor: string
  color: string
}

const isDark = computed({
  get() {
    return colorMode.value === 'dark'
  },
  set() {
    colorMode.preference = colorMode.value === 'dark' ? 'light' : 'dark'
  }
})

const features = computed((): IFeature[] => {
  return [
    { name: 'Vue', bgColor: '#42b883', color: '#35495e' },
    { name: 'Nuxt', bgColor: '#00DC82', color: '#0F172A' },
    { name: 'React', bgColor: '#00d8ff', color: '#000000' },
    {
      name: 'Next',
      bgColor: isDark.value ? '#ffffff' : '#000000',
      color: !isDark.value ? '#ffffff' : '#000000'
    },
    { name: 'Svelte', bgColor: '#c30', color: '#ffffff' },
    { name: 'Solid', bgColor: '#006B9E', color: '#ffffff' },
    { name: 'Node', bgColor: '#026e00', color: '#ffffff' },
    { name: 'Express', bgColor: '#eeeeee', color: '#353535' },
    { name: 'Nest', bgColor: '#ea2845', color: '#ffffff' }
  ]
})

const technique = ref<IFeature>(features.value[0])

const techniqueChanging = () => {
  let index: number = 0

  setInterval(() => {
    technique.value = features.value[features.value.length === index + 1 ? index = 0 : ++index]
  }, 1500)
}

onMounted(() => {
  techniqueChanging()
})
</script>

<template>
  <div class="bg-background flex flex-col md:flex-row justify-center items-center flex-wrap h-full gap-2">
    <h1 class="text-lg md:text-3xl transition-all">
      We planning do useful
      <abbr class="text-yellow-400" title="Understand (our lovely) JS easily">things</abbr>
      about
    </h1>

    <span :style="{ backgroundColor: technique.bgColor, color: technique.color }" class="rounded-full px-3 py-1 ml-1">
      {{ technique.name }}.js
    </span>
  </div>
</template>
