<script lang="ts" setup>
import { LogInIcon, LogOutIcon, MoonStarIcon, SunIcon } from 'lucide-vue-next'
import { useRouter } from '#app'
import { useToast } from './ui/toast'

const colorMode = useColorMode()
const { status, signOut } = useAuth()
const { toast } = useToast()
const router = useRouter()

const onClickAuthBtn = async () => {
  if (status.value === 'unauthenticated') {
    await router.push({ name: 'auth' })
  } else {
    await signOut({
      callbackUrl: '/'
    })

    toast({
      title: 'Successfully signed out!',
      type: 'foreground'
    })
  }
}
</script>

<template>
  <nav class="fixed top-0 w-full border-b">
    <div class="container">
      <div class="py-1 md:py-3 flex items-center justify-between gap-x-2">
        <NuxtLink :to="{ name: 'index' }">JS Developer UZ</NuxtLink>

        <div>
          <Button
            size="icon"
            variant="ghost"
            @click="colorMode.value === 'light' ? colorMode.preference = 'dark' : colorMode.preference = 'light'"
          >
            <ClientOnly>
              <Component :is="colorMode.value === 'light' ? MoonStarIcon : SunIcon" />
            </ClientOnly>
          </Button>

          <Button
            size="icon"
            variant="ghost"
            @click="onClickAuthBtn"
          >
            <Component :is="status === 'unauthenticated' ? LogInIcon : LogOutIcon" />
          </Button>
        </div>
      </div>
    </div>
  </nav>
</template>

<style scoped>

</style>