<script lang="ts" setup>
import TheNavbar from '../components/TheNavbar.vue'
</script>

<template>
  <TheNavbar />

  <main class="mt-12 md:mt-16">
    <div class="container">
      <div class="h-[calc(100vh-4rem)]">
        <slot></slot>
      </div>
    </div>
  </main>
</template>

<style scoped>

</style>