<script lang="ts" setup>
import { useToast } from '../components/ui/toast'

definePageMeta({
  middleware: 'auth',
  auth: {
    unauthenticatedOnly: true,
    navigateAuthenticatedTo: { name: 'profile' },
  }
})

const { signIn } = useAuth()
const { toast } = useToast()

const OTP_LENGTH: number = 4

const otpCode = ref<string[]>([])
const isLoading = ref<boolean>(false)

const onSignIn = async () => {
  try {
    isLoading.value = true

    await signIn({
      otp: Number(otpCode.value.join(''))
    }, {
      callbackUrl: '/profile'
    })
  } catch (e: any) {
    otpCode.value = []
    toast({
      title: 'Xatolik',
      description: 'Kod xato kiritilgan. Tekshirib ko\'ring.',
      variant: 'destructive'
    })
  } finally {
    isLoading.value = false
  }
}
</script>

<template>
  <div class="grid place-items-center h-full">
    <div class="flex flex-col items-center">
      <h1 class="text-2xl mb-6 text-center">
        <a href="https://t.me/jsdeveloperuz_bot" target="_blank"><code class="underline">@jsdeveloperuz_bot</code></a>
        ga o'tib 2 daqiqalik kodni oling.
      </h1>

      <PinInput
        id="pin-input"
        v-model="otpCode"
        :disabled="isLoading"
        placeholder="○"
        @complete="onSignIn"
      >
        <PinInputGroup class="gap-4">
          <template v-for="(id, index) in OTP_LENGTH" :key="id">
            <PinInputInput
              :index="index"
              class="rounded-md border text-black"
            />
            <template v-if="index !== OTP_LENGTH - 1"></template>
          </template>
        </PinInputGroup>
      </PinInput>
    </div>
  </div>
</template>

<style scoped>

</style>